@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body,
html {
  overflow-x: hidden;
  @media (min-width: 320px) and (max-width: 599px) {
    overflow-x: hidden;
  }
}
body {
  padding-top: 4cm;
  @media (min-width: 320px) and (max-width: 599px) {
    padding-top: 2cm;
  }
}

// Animation Styles

.animation-left {
  opacity: 0;
  transition: all 1s 250ms cubic-bezier(0.02, 0.33, 0.79, 0.91);
  transform: translateX(-100px);
}

.animation-right {
  opacity: 0;
  transition: all 2s 250ms cubic-bezier(0.02, 0.33, 0.79, 0.91);
  transform: translateX(+100px);
}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 25px;

  // Navigation Bar Styles

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3% 5px 3%;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 20;
    .drawer-menu {
      @media (min-width: 600px) {
        display: none;
      }
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 50vh;
      padding: 1cm 0.5cm;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 30;
      background-color: white;
      transform: translateY(-100%);
      transition: transform 0.5s 250ms ease-in;
      .close-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
          padding: 10px;
          border-radius: 5px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        &:hover {
          font-weight: bold;
        }
      }
    }
    a.active {
      font-weight: bold;
    }
    @media (min-width: 320px) and (max-width: 599px) {
      padding: 0;
      padding: 0.25cm 0.5cm;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      @media (min-width: 320px) and (max-width: 599px) {
        width: 3cm;
      }
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      color: #000000;
    }
    .menu-button {
      @media (min-width: 600px) {
        display: none;
      }
      align-self: flex-end;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    ul {
      display: flex;
      list-style: none;
      width: 50%;
      align-items: center;
      justify-content: space-evenly;
      @media (min-width: 320px) and (max-width: 599px) {
        display: none;
      }

      li {
        width: 15%;
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          font-size: 1rem;
          &:hover {
            font-weight: bold;
          }
        }
      }
      .contact-us {
        width: 30%;
        background: #226e27;
        border-radius: 2px;
        padding: 10px;
        color: white;
        a {
          color: white;
          &:hover {
            font-weight: normal;
          }
        }
        &:hover {
          background: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
          a {
            color: #226e27;
          }
        }
      }
    }
  }
}

.article-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1cm;
  .story-image {
    @media (min-width: 320px) and (max-width: 599px) {
      max-width: 100vw;
    }
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #226e27;
    margin-bottom: 1cm;
    @media (min-width: 320px) and (max-width: 599px) {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.05em;
    }
  }
  .text-section {
    width: 85%;
    margin-top: 1cm;
    p {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      letter-spacing: 0.02em;
      margin-bottom: 0.5cm;
    }
  }
}

.article-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1 {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
  }
  .article-content {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    @media (min-width: 320px) and (max-width: 599px) {
      flex-wrap: wrap-reverse;
    }
    .content-image {
      width: 50%;
      @media (min-width: 320px) and (max-width: 599px) {
        width: 120%;
      }
    }
    .content-text {
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 0.5cm;
      @media (min-width: 320px) and (max-width: 599px) {
        width: 90%;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: justify;
      }
      hr {
        width: 95%;
        text-align: center;
      }
    }
  }
}

.article-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2cm;
  gap: 1cm;
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #25702a;
  }
  .team-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 599px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .team-card {
      display: flex;
      width: 18%;
      flex-direction: column;
      align-items: center;
      position: relative;
      gap: 16px;
      padding: 0.25cm;
      border-radius: 20px;
      cursor: pointer;
      @media (min-width: 320px) and (max-width: 599px) {
        width: 80%;
        margin: 0.5cm 0;
      }
      &:hover {
        background-color: white;
        transform: scale(1.1);
        transition: all 0.25s 250ms ease-in-out;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        img {
          filter: none;
        }
      }
      img {
        width: 95%;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
      }
      p {
        text-align: left;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.02em;
        margin-left: 0.25cm;
        span {
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #226e27;
        }
      }
    }
  }
}

footer {
  background-color: #226e27;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: 2cm;
  display: flex;
  justify-content: space-between;
  padding: 1.5cm 3cm 5cm 3cm;
  @media (min-width: 320px) and (max-width: 599px) {
    flex-wrap: wrap;
    padding: 1cm;
    justify-content: flex-start;
  }

  .logo {
    width: 25%;
    padding: 0.5cm;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    img {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 320px) and (max-width: 599px) {
      width: 80%;
    }
  }
  .useful-links,
  .help-and-support,
  .contact {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 1cm;
    gap: 15px;
    @media (min-width: 320px) and (max-width: 599px) {
      margin-top: 0.5cm;
      padding: 0;
    }
    h3 {
      font-size: 22px;
      @media (min-width: 320px) and (max-width: 599px) {
        font-size: 16px;
      }
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 16px;
      @media (min-width: 320px) and (max-width: 599px) {
        font-size: 12px;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
  .useful-links {
    @media (min-width: 320px) and (max-width: 599px) {
      width: 50%;
    }
  }
  .help-and-support {
    width: 20%;
    @media (min-width: 320px) and (max-width: 599px) {
      width: 50%;
      padding: 0;
    }
  }
  .contact {
    width: 25%;
    .social-media-icons {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
    @media (min-width: 320px) and (max-width: 599px) {
      width: 80%;
      padding: 0;
    }
  }
}
